body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: lightgrey;
}

#navbar {
	background-color: grey;
	height: 30px;
	/*float: top;*/
	padding-top: 10px;
	padding-left: 10px;
	font-family: monospace;
	font-size: 14;
	position: fixed;
	width: 100%;
}

#button {
	background-color: black;
	height: 26px;
	width: 100px;
	border: 2px solid grey;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	color: white;
}

#main-part {
	margin-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
	width: 80%;
	float: left;
	font-family: serif;
	min-width: 500px;
}

#sidebar {
	background-color: white;
	height: 500px;
	width: 17%;
	float: right;
	margin-top: 40px;
	background-color: lightgray;
	position: fixed;
	right: 0px;
	font-family: sans-serif;
}

.article {
	margin: 10px 10px 10px 10px;
}

#navbar a {
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}

#footbar {
	background-color: grey;
	clear: both;
	text-align: center;
	float: bottom;
}

.article {
	margin-bottom: 40px;
}

img {
	width: 90%;
}

ul a {
	color: black;
}

#animation {
	width: 100px;
	height: 100px;
	background-color: blue;
}

#circle {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: black;
	position: relative;
	left: 0px;
	top: 50px;
}